body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'gt-walsheim pro regular';
  src: local('GTWalsheimPro-Regular'), url(./fonts/GTWalsheimPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'gt-walsheim pro black';
  src: local('GTWalsheimPro-Black'), url(./fonts/GTWalsheimPro-Black.woff) format('woff');
}

@font-face {
  font-family: 'gt-walsheim pro bold';
  src: local('GTWalsheimPro-Bold'), url(./fonts/GTWalsheimPro-Bold.woff) format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}